@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
  --light-color: #fffcf2;
  --light-color-50: #ccc5b9;
  --dark-color-50: #403d39;
  --dark-color: #252422;
  --accent-color: #eb5e28;
  --link-color: #28aceb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spartan', sans-serif;
}

a {
  color: var(--dark-color-50);
}

a:hover {
  color: var(--dark-color);
}

body {
  font-family: 'Saira', sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
}

footer {
  background-color: var(--accent-color);
  padding-bottom: 2em;
}

section {
  padding: 4em 2em;
}

section h1 {
  text-align: center;
}

#navbar {
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.5s, box-shadow 0.5s;
}

#navbar.scrolled {
  background-color: var(--dark-color-50);
  box-shadow: 0 0.5em 2em 0 rgb(0,0,0,0.6);
}

nav.navbar {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  background-color: var(--dark-color-50);
}

nav.navbar .nav-link.active {
  color: var(--accent-color) !important;
}

#navbar-content {
  text-align: center;
  justify-content: center;
}

#navbar-content .navbar-collapse {
  justify-content: center;
}

#home-section {
  background-image: url('./img/background-vignette.jpg');
  height: 100vh;
}

#home-section + .mask {
  background: radial-gradient(closest-side, transparent, var(--dark-color) 90%);
}

#main-text img {
  max-height: 15em;
  margin-bottom: 1em;
}

#main-text h1, #main-text h2 {
  text-shadow: var(--dark-color) 0 0 0.25em;
}

#main-text a {
  color: var(--accent-color);
}

.portfolio-item {
  max-width: 50%;
  margin-bottom: 2em;
  transition: transform 0.5s ease;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item .card:hover {
  cursor: pointer;
  box-shadow: 0 0 1em var(--light-color-50);
}

.portfolio-item .mask {
  padding: 1em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), transparent, transparent);
}

#skills h4 {
  text-align: center;
}

.skills-category {
  margin-bottom: 3em;
}

.skills-category>div {
  justify-content: center;
}

.skill {
  display: flex;
  align-items: center;
  margin: 0.5em;
  border-radius: 0.25em;
}

.skill:hover {
  border-color: var(--light-color-50);
}

.skill-info {
  width: 100%;
  margin: 0 0.5em;
}

.skill-info span {
  margin-right: 0.5em;
}

.skill img {
  height: 4em;
  width: 4em;
  padding: 0.25em;
  background-color: var(--light-color);
  border-radius: 0.25em 0 0 0.25em;
}

.skill-indicator {
  justify-content: center;
}

.skill-indicator li {
  margin: 0 2px 0 0;
  padding: 0.25em 1em;
  flex-grow: 1;
}

#profile-picture {
  border-radius: 50%;
  box-shadow: var(--dark-color-50) 0 0 30px;
  margin: 0 auto 1em auto;
}

.contact-channel {
  text-align: center;
  margin-top: 3em;
}

.contact-channel img {
  max-height: 2em;
}

/* Skill Colors */
.bg-custom {
  background-color: var(--accent-color);
}

.bg-indicator-off {
  background-color: rgba(0,0,0,0.4);
}

.modal-body img {
  width: 100%;
}

#portfolio-carousel {
  margin-bottom: 1em;
}

#portfolio-modal .modal-footer {
  justify-content: center;
}


/* MDBootstrap Overrides */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--light-color);
  background-color: var(--accent-color);
}