@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: "Black Ops One", sans-serif;
}

html {
	min-height: 100%;
    background: url(background.png);
	background-size: auto;
    color: #efefef;
}

h1 {
	font-size: 4em;
}

h3 {
	font-size: 2em;	
}

h4 {
	font-size: 1.5em;
}

h3, h4, h5 {
	color: #809ebf;
}

.clearfix:after { 
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body {
	background-color: transparent;
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

header {
	height: 20vh;
}

header div {
	padding: 2vw;
	width: 29.33vw;
	float: left;
}

#time-left {
	text-align: left;
}

#time, #rounds {
	color: #efefef;
}

#rounds-completed {
	text-align: right;
}

#main-content {
	height: 60vh;
	position: relative;
}

#main-content div {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
	transform: translate(-50%, -50%);
}

#current-exercise {
    cursor: pointer;
}

#next-exercise {
	text-transform: uppercase;
	color: #efefef;
}

#workout-selection, #final-results {
	position: absolute;
	width: 100%;
	z-index: 100;
}

#workout-selection div, #final-results div {
	position: relative;
}

#workout-list {
	width: 100%;
	background: rgba(0,0,0,1);
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, 0%); /* IE 9 */
	-webkit-transform: translate(-50%, 0%); /* Safari */
	transform: translate(-50%, 0%);
}

.workout {
	list-style: none;
    line-height: 3;
    font-size: 1.5em;
    cursor: pointer;
    margin: 10px 0;
}

.workout:hover {
	background: white;
	color: black;
}

#exercises-recap li {
	list-style: none;
}