@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body {
  font-family: 'Dosis';
  background: #1a1d20;
  color: white;
}

p {
  font-family: 'Quicksand';
  font-size: 1.1em;
}

a {
	text-decoration: none;
	color: #93dce7;
}

img {
	border: 1px solid #0c0c0c;
}

img:hover {
	border: 1px solid white;
}

.image-section {
	margin: 5vw;
}

.thumbnail {
	height: 12vw;
}